---
import { InternalHeader, Spacer } from '@navikt/ds-react';
import navLogo from '../../images/nav-icon-hvit.png';
import styles from './header.module.css';
import AppSwitcherHeader from './AppSwitcherHeader';
const userInfo = Astro.locals.userInfo;
---

<div class={styles.header}>
  <InternalHeader>
    <img src={navLogo.src} alt="NAV logo" class={styles.navLogo} />
    <InternalHeader.Title href="/">Utbetalingsportalen</InternalHeader.Title>
    <Spacer />
    <AppSwitcherHeader adGroups={userInfo.adGroups} client:only="react" />
    <InternalHeader.User name={userInfo.name} description={userInfo.navIdent} />
  </InternalHeader>
</div>
